@page
@model ASample.NetCore.WebSite.Pages.DemoModel
@{
}

<div class="text-center">
    <div id="onMenuShareAppMessage" style="width:100px;height:50px;color:blue;">
        分享
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/Weixin/jweixin-1.4.0.js"></script>
    <script src="~/lib/Weixin/WeixinJsPack.js"></script>
    <script>

    </script>
}
