<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignalR App</title>
</head>
<body>

    <select id="group">
        <option>貓派</option>
        <option>狗派</option>
    </select>
    <button type="button" id="addGroupBtn">加入群組</button>
    <br>
    姓名：<input id="name" type="text"><br>
    訊息<input id="msg" type="text">
    <br>
    <button type="Button" id="submitGroupBtn">送出給群組</button>
    <button type="Button" id="submitAllBtn">送出給所有人</button>
    <br>
    <div id="msgDiv"></div>

    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../lib/signalr/js/signalr.js"></script>
    <script>
        // JS寫在這
        $(function () {
            // 建立SignalR連接
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
            // 傳送訊息事件
            connection.on("ReceiveMessage", function (user, message) {
                var msg = message;
                var encodedMsg = user + " says " + msg;
                var li = document.createElement("li");
                li.textContent = encodedMsg;
                document.getElementById("msgDiv").appendChild(li);
            });

            // 連接事件
            connection.start().catch(function (err) {
                return console.error(err.toString());
            });
            // Button事件
            document.getElementById("submitAllBtn").addEventListener("click", function (event) {
                var user = document.getElementById("name").value;
                var message = document.getElementById("msg").value;
                connection.invoke("SendMessage", user, message).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            });

            document.getElementById("addGroupBtn").addEventListener("click", function (event) {
                debugger
                var user = document.getElementById("name").value;
                var group = document.getElementById("group").value;
                connection.invoke("AddGroup", group, user).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            });

            connection.on("RecAddGroupMsg", function (message) {
                var msg = message;
                var li = document.createElement("li");
                li.textContent = msg;
                document.getElementById("msgDiv").appendChild(li);
            });

            document.getElementById("submitGroupBtn").addEventListener("click", function (e) {
                var user = document.getElementById("name").value;
                var group = document.getElementById("group").value;
                var message = document.getElementById("msg").value;

                connection.invoke("SendMessageToGroup", group, user, message).catch(function (err) {
                    return console.error(err.toString());
                });
            });
            // 群組訊息接收事件
            connection.on("ReceiveGroupMessage", function (groupName, user, message) {
                var msg = `[群組訊息(${groupName})]${user}：${message}`;
                var li = document.createElement("li");
                li.textContent = msg;
                document.getElementById("msgDiv").appendChild(li);
            });
        })
    </script>
</body>
</html>