<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ASample.NetCore.Auths</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css"/>
    <link rel="stylesheet" href="~/css/animate.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>

    <link rel="stylesheet" href="~/lib/iCheck/custom.css"/>
    <link rel="stylesheet" href="~/lib/footable/footable.core.css"/>
    <link rel="stylesheet" href="~/font-awesome/css/iconfont.css"/>

    <link rel="stylesheet" href="~/css/history.css"/>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css"/>
    <link rel="stylesheet" href="~/lib/layui/css/modules/layer/theme/default/layer.css"/>
    <link rel="stylesheet" href="~/css/admin.css"/>
    <link rel="stylesheet" href="~/lib/metisMenu/metisMenu.css"/>
    <link rel="stylesheet" href="~/css/common.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @RenderSection("Styles", required: false)

</head>
<body class="pace-done fixed-nav fixed-nav-basic fixed-sidebar">
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="logo-image" src="~/img/logo.png" />
                            </span>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <i class="fa fa-home fa-lg"></i>
                            <span class="nav-label">首页</span> @*<span class="fa arrow"></span>*@
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">
                                <i class="fa fa-user fa-lg" style="padding-right: 6px;"></i>
                                欢迎您，<a href="#" id="userName">管理员</a>
                            </span>
                        </li>
                        <li>
                            <a href="/Home/Index"><i class="fa fa-home fa-lg"></i>首页</a>
                        </li>
                        <li>
                            <a href="/Account/Password"><i class="iconfont icon-xiugaimima"></i>修改密码</a>
                        </li>
                        <li>
                            <a href="#" id="logOut">
                                <i class="fa fa-sign-out fa-lg"></i>退出登录
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            @RenderBody()
            <div class="footer fixed">
                <div>
                    <strong>Copyright</strong> ASample Company &copy; 2019-2050
                </div>
            </div>
        </div>
    </div>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - ASample.NetCore.Auths - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/jquery-2.1.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script src="~/lib/metisMenu/jquery.metisMenu.js"></script>*@
    <script src="~/lib/metisMenu/metisMenu.js"></script>
    <script src="~/js/inspinia.js"></script>
    <script src="~/lib/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/pace/pace.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <script src="~/lib/footable/footable.all.min.js"></script>
    @*<script src="~/lib/layer/layer.js"></script>*@
    <script src="~/lib/layui/css/modules/layer/layer.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    
    @*<script src="~/lib/layui/lay/modules/laytpl.js"></script>*@
    @*<script src="~/lib/layui/lay/modules/element.js"></script>
        <script src="~/lib/layui/lay/modules/util.js"></script>*@
    <script src="~/js/jqueryextent.js"></script>
    @*<script src="~/js/common.js"></script>*@

    @*<script src="~/lib/vue/vue.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            getMenus();
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('后台管理系统', '欢迎进入');

            }, 1300);


            $('.footable').footable();

            //表格的高度
            var contH = $(window).height() - $('#search-height').height() - 308;
            $('#content-height').height(contH);

            //获取按钮层的高度
            var btnH = $('.fixed-btn > .row').children().height() + 11;
            $('.fixed-btn').height(btnH);
            getUserName();

            $("#logOut").click(function () {
                logOut();
            });

        });

        function getUserName() {
            $.ajax({
                url: "/api/Account/profile",
                dataType: "json",
                contentType: "application/json",
                method: "post",
                success: function (res) {
                    if (res.IsError) {
                        location.href = "/Account/Login";
                        return;
                    }
                    else {
                        $("#userName").html(res.Data);

                    }
                },
                error: function () {

                }
            })
        }

        function logOut() {
            $.ajax({
                url: "/api/Account/sign-out",
                dataType: "json",
                contentType: "application/json",
                method: "post",
                success: function (res) {
                    if (res.IsError) {
                        layer.alert(res.Message);
                        return;
                    }
                    else {
                        location.href = "/Account/Login";
                    }
                },
                error: function () {

                }
            })
        }

        function getMenus() {
            $.ajax({
                url: "/api/User/UserMenu",
                dataType: "json",
                contentType: "application/json",
                method: "get",
                success: function (res) {
                   
                    if (res.IsError) {
                        //layer.alert(res.Message);
                        return;
                    }
                    $("#side-menu").html("");
                    var menuHtml = '<li class="nav-header">' +
                        '<div class="dropdown profile-element">' +
                        '    <span>' +
                        '        <img alt="logo-image" src="/wwwroot/img/logo.png" />' +
                        '    </span>' +
                        '</div>' +
                        '<div class="logo-element">' +
                        '    IN+' +
                        '</div>' +
                        '</li>';
                    menuHtml += '<li>' +
                            '<a href="/Home/Index"><i class="fa fa-home fa-lg"></i> ' +
                            '<span class="nav-label">首页</span></a>' +
                            '</li>';
                    $(res.Data).each(function (index, item) {

                        var subMenuHtml = "";
                        $(item.SubRights).each(function (index, item) {
                            subMenuHtml += '<li><a href="' + item.RightUrl + '">' + item.RightName + '</a></li>';
                        })

                        menuHtml += '<li>' +
                            '<a href="#"><i class="' + item.RightIcon + '"></i> ' +
                            '<span class="nav-label"> ' + item.RightName + '</span> <span class="fa arrow"></span></a>' +
                            '<ul class="nav nav-second-level">' +
                            subMenuHtml +
                            '</ul>' +
                            '</li>';
                    });
                    $('#side-menu').metisMenu('dispose'); //参考https://mm.onokumus.com/mm-ajax.html，可以自己研究一下
                    $("#side-menu").append(menuHtml);
                    $('#side-menu').metisMenu();
                    //urlchange()
                },
                error: function () {

                }
            })
        };
        function urlchange() {  //侧边栏点击导航切换右侧页面，根据自己的html结构来修改
            var url = window.location;
            var element = $('ul.nav a').filter(function () {
                return this.href == url || url.href.indexOf(this.href) == 0;
            }).addClass('active').parent().parent().addClass('in show').parent();
            if (element.is('li')) {
                element.addClass('active');
            }
        }

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
