@{
    ViewData["Title"] = "Home Page";
}

@*<div class="fixed-btn">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <a href="#" class="btn btn-info" data-toggle="inmodal" data-target="#myModal" id="btn-add"><i class="iconfont icon-xinzeng"></i>添加</a>
                <a href="#" class="btn btn-info" data-toggle="inmodal" data-target="#myModal2" id="btn-update"><i class="iconfont icon-bianji"></i>修改</a>
                <a href="#" class="btn btn-info"><i class="iconfont icon-shanchu"></i>删除</a>
                <a href="#" class="btn btn-info"><i class="iconfont icon-refresh"></i>刷新</a>
                <a href="#" class="btn btn-info"><i class="iconfont icon-permission"></i>保存角色权限</a>
                <a href="#" class="btn btn-info"><i class="iconfont icon-quanxian"></i>保存权限</a>
                <a href="#" class="btn btn-info" data-toggle="inmodal" data-target="#myModal4" id="btn-guiji"><i class="iconfont icon-guiji"></i>行为轨迹</a>
                <a href="#" class="btn btn-info" data-toggle="inmodal" data-target="#myModal5" id="btn-relation"><i class="iconfont icon-qinqing"></i>亲情关系</a>
            </div>
        </div>
    </div>

    <div id="search-height" class="row wrapper border-bottom white-bg page-heading mt10">
        <div class="col-lg-12 form-inline">
            <div class="form-group">
                <label>注册方式：</label>
                <select class="form-control">
                    <option>请选择</option>
                    <option>QQ账号注册</option>
                    <option>普通注册</option>
                </select>
            </div>

            <div class="form-group">
                <label>姓名：</label>
                <input type="tel" class="form-control" placeholder="请输入手机号码">
            </div>

            <div class="form-group">
                <label>手机号码：</label>
                <input type="tel" class="form-control" placeholder="请输入手机号码">
            </div>

            <div class="form-group">
                <label>手机号码：</label>
                <input type="tel" class="form-control" placeholder="请输入手机号码">
            </div>

            <div class="form-group">
                <label>手机号码：</label>
                <input type="tel" class="form-control" placeholder="请输入手机号码">
            </div>

            <div class="form-group">
                <label>手机号码：</label>
                <input type="tel" class="form-control" placeholder="请输入手机号码">
            </div>

            <div class="form-group">
                <label>用户状态：</label>
                <select class="form-control">
                    <option>请选择</option>
                    <option>可用</option>
                    <option>不可用</option>
                </select>
            </div>

            <button type="submit" class="btn btn-info mt10"><i class="iconfont icon-sousuo"></i> 搜 索</button>
        </div>
    </div>*@

<div class="fixed-btn">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <a lay-href="">主页</a>
            <a><cite>组件</cite></a>
            <a><cite>数据表格</cite></a>
            <a><cite>开启头部工具栏</cite></a>
        </div>
    </div>
</div>


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">开启头部工具栏</div>
                <div class="layui-card-body">
                    <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                        用户名：
                        <div class="layui-inline">
                            <input class="layui-input" name="UserName" id="UserName" autocomplete="off">
                        </div>
                        <button class="layui-btn" id="search">搜索</button>
                    </div>
                    <table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar"></table>

                    <script type="text/html" id="test-table-toolbar-toolbarDemo">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm btn btn-info" lay-event="add"><i class="iconfont icon-xinzeng"></i>新增</button>
                            <button class="layui-btn layui-btn-sm btn btn-info" lay-event="update"><i class="iconfont icon-bianji"></i>修改</button>
                            <button class="layui-btn layui-btn-sm btn btn-info" lay-event="delete"><i class="iconfont icon-shanchu"></i>删除</button>
                        </div>
                    </script>

                    @*<script type="text/html" id="test-table-toolbar-barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>*@
                </div>
            </div>
        </div>
    </div>
</div>


<div class="inmodal" id="form" style="display: none;">
    <div class="modal-body form-inline" style="width: auto;">
        <div class="table-responsive">
            <div class="form-group">
                <label>用户名:</label>
                <input id="UserName" name="UserName" type="text" placeholder="请输入用户名" class="form-control" data-samename="true" data-minlength="2" data-minlength-error="用户名最少2位" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label>密码:</label>
                <input id="Password" name="Password" type="password" placeholder="请输入密码" class="form-control" data-minlength="6" data-minlength-error="密码最少6位" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label>确认密码:</label>
                <input id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="请输入密码" class="form-control" data-minlength="6" data-minlength-error="密码最少6位" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label>手机号:</label>
                <input id="PhoneNumber" name="PhoneNumber" type="text" placeholder="请输入手机号" class="form-control">
            </div>

            <div class="form-group">
                <label>邮箱:</label>
                <input id="Email" name="Email" type="text" placeholder="请输入邮箱" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" id="btnClose">关 闭</button>
        <button type="button" class="btn btn-primary" id="btnSave">保 存</button>
    </div>
</div>
@section Scripts{
    <script>
        var param = {
            data: null,
            table:null
        };
        var method = {
            init: function () {
                //method.initTable();
                method.eventBind();
            },
            eventBind: function () {
                $("#login").click(function () {
                    method.signIn();
                });

                $("#btnClose").click(function () {
                    layer.closeAll();
                });

                $("#btnSave").click(function () {
                    //添加
                    var json = $.toJson("#form");
                    if (!param.data) {
                        var methodType = 'post';
                        method.saveData(json,methodType);
                    }
                    else {
                        //修改
                        var methodType = 'put';
                        json["Id"] = param.data.Id;
                        method.saveData(json,methodType);
                    }
                });

                //$("#search").click(function () {
                //    method.tableReload();
                //});
            },

            initTable: function () {
                layui.use(['table'], function () {
                    var table = layui.table;
                    param.table = table;
                    table.render({
                        elem: '#test-table-toolbar'
                        , url: '/api/User/QueryPaged'
                        , toolbar: '#test-table-toolbar-toolbarDemo'
                        , title: '用户数据表'
                        , cols: [[
                            { type:'radio', fixed: 'left' }
                            , { field: 'Id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true }
                            , { field: 'UserName', title: '用户名', width: 120, edit: 'text' }
                            , { field: 'PhoneNumber', title: '手机号', width: 120, edit: 'text' }
                            , {
                                field: 'Email', title: '邮箱', width: 250, edit: 'text', templet: function (res) {
                                    return '<em>' + res.Email + '</em>'
                                }
                            }
                        ]]
                        , page: true
                    });

                    //头工具栏事件
                    table.on('toolbar(test-table-toolbar)', function (obj) {
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch (obj.event) {
                            case 'add':
                                //var data = checkStatus.data;
                                //layer.alert(JSON.stringify(data));
                                param.data = null;
                                $("#Password").parent().show();
                                $("#ConfirmPassword").parent().show();
                                $.clearValue("#form .form-group");
                                method.openDialog();
                                break;
                            case 'update':
                                $("#Password").parent().hide();
                                $("#ConfirmPassword").parent().hide();
                                param.data = checkStatus.data[0];
                                if (!param.data) {
                                    layer.alert("请选择一行数据进行操作");
                                    return;
                                }
                                method.openDialog();
                                method.initEditData();
                                break;
                            case 'delete':
                                layer.alert("请选择一行数据进行操作");
                                break;
                        };
                    });

                    //监听行工具事件
                    table.on('tool(test-table-toolbar)', function (obj) {
                        var data = obj.data;
                        if (obj.event === 'del') {
                            layer.confirm('真的删除行么', function (index) {
                                obj.del();
                                layer.close(index);
                            });
                        } else if (obj.event === 'edit') {
                            layer.prompt({
                                formType: 2
                                , value: data.email
                            }, function (value, index) {
                                obj.update({
                                    email: value
                                });
                                layer.close(index);
                            });
                        }
                    });
                });
            },
            tableReload: function () {
                param.table.reload('test-table-toolbar', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        UserName: $("#UserName").val()
                    }
                });
            },

            openDialog: function () {
                layer.open({
                    type: 1,
                    title: "用户信息编辑",
                    shadeClose: true,
                    skin: '',
                    area: ['600px', '450px'],//宽--高
                    content: $("#form"),
                    cancel: function () {
                        layer.closeAll();
                    }
                });
            },

            saveData: function (json, methodType) {
                var tipMsg = "添加成功";
                if (methodType == "put") {
                    tipMsg = "修改成功";
                }
                $.ajax({
                    url: "/api/User/",
                    method: methodType,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(json),
                    success: function (res) {
                        if (res.IsError) {
                            layer.alert(res.Message);
                            return;
                        }
                        else {
                            layer.closeAll();
                            layer.msg(tipMsg, { "icon": 1 });
                            method.tableReload();
                        }
                    }
                })
            },

            initEditData: function () {
                var editData = param.data;
                if (editData) {
                    //对input 标签 和 textarea 标签赋值
                    $.toValue(editData, "#form .form-group");
                }
            },

            signIn: function () {
                var user = {
                    UserName: $("#UserName").val(),
                    Password: $("#Password").val()
                };
                $.ajax({
                    url: "/api/account/sign-in",
                    method: "post",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(user),
                    success: function (res) {
                        console.log(res);
                    }
                });
            },


            
        };
        $(function () {
            method.init();
        });
    </script>
}
