
@{
    ViewData["Title"] = "密码修改";
}
@section Styles{ 
    <style>
        #updatepasswordform .layui-form-label{
            width:120px;
        }
    </style>
}
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>设置</cite></a>
        <a><cite>我的密码</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="" id="updatepasswordform">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="OldPassword" id="OldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="NewPassword" id="NewPassword" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="RePassword" id="RePassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="submitBtn" lay-filter="setmypass">确认修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section  Scripts{ 
    <script>
        var method = {
            init: function () {
                method.eventBind();
            },

            eventBind: function () {
                $("#submitBtn").click(function () {
                    method.updatePwd();
                });
            },

            updatePwd: function () {
                var json = $.toJson("#updatepasswordform .layui-form-item");
                $.ajax({
                    url: '/api/account/password',
                    method: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    success: function (res) {
                        if (res.IsError) {
                            layer.alert(res.Message);
                            return;
                        }
                        else {
                            layer.msg("修改成功", { "icon": 1 });
                            logOut();
                        }
                    }
                });
            }

        };

        $(function () {
            method.init();
        })
    </script>
}

